<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/"><%= image_tag("logo.png")%><h1 class="brand-text">Brackets4Life</h1></a>
      <div class="pull-right">
        <ul class="nav">
          <li>
            <%= link_to "Home", root_path %>
          </li>
          <li>
            <%= link_to "About Us", "#" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>